<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Something webt wrong!</h1>
      <p>
        Unfortunately, something went wrong with the server!
      </p>
    </main>
  </body>
</html>
