<%- include('../incudes/head', { pageTitle: 'Signup'}) %>
</head>
<body>
    <%- include('../incudes/header', { pageTitle: 'Signup'}) %>
    <main>
        <h1>Create New Account</h1>
        <form action="" method="">
            
        </form>
    </main>

<%- include('../incudes/footer') %>