<%- include('includes/head', { pageTitle: 'An error occurred'}) %>
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Something went wrong</h1>
        <p>Unfortunately, something went wrong - p;ease try again later.</p>
        <p><a class="btn" href="/">Go back to start</a></p>
    </main>

<%- include('includes/footer') %>